<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "camp_details" %>
    <%= render partial:'register_student_for_camp' %>

    <%= link_to 'Camp Payments', camp_payment_path(id: @camp.id)%>&nbsp;&nbsp;::&nbsp;&nbsp;
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->

    <%= render partial: 'camp_instructors' %>

    <%= render partial: 'registrations' %>
    

  </div>
</div>