  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <%= link_to image_tag('amcc_logo.png'), home_path %>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <!-- options for curriculums -->
          <% if current_user && current_user.role?(:admin) %>
            <li class="has-dropdown">
              <%= link_to "Curriculums", curriculums_path %>
              <ul class="dropdown">
                <li><%= link_to "List Curriculums", curriculums_path %></li>
                <li><%= link_to "Add a Curriculum", new_curriculum_path %></li>
              </ul>
            </li>
          <%end%>

          <!-- options for camps -->
          <li class="has-dropdown">
            <%= link_to "Camps", camps_path %>
            <ul class="dropdown">
              <li><%= link_to "List Camps", camps_path %></li>
              <% if current_user && current_user.role?(:admin) %>
                <li><%= link_to "Add a Camp", new_camp_path %></li>
              <%end%>
            </ul>
          </li>

          <!-- options for instructors -->
          <% if current_user && current_user.role?(:admin) %>
          <li class="has-dropdown">
            <!-- <a href="#">Instructors</a> -->
            <%= link_to "Instructors", instructors_path %>
            <ul class="dropdown">
              <li><%= link_to "List Instructors", instructors_path %></li>
              <li><%= link_to "Add an Instructor", new_instructor_path %></li>
            </ul>
          </li>
          <%end%>

          <% if current_user && current_user.role?(:instructor) %>
          <li class="has-dropdown">
            <!-- <a href="#">Instructors</a> -->
            <%= link_to "Instructor Profile", instructor_path(current_user.instructor) %>
          </li>
          <%end%>

          <!-- options for locations -->
          <% if current_user && current_user.role?(:admin) %>
          <li class ="has-dropdown">
            <%= link_to "Locations", locations_path %>
            <ul class = "dropdown">
              <li><%= link_to "List Locations", locations_path %> </li>
              <li><%= link_to "Add a Location", new_location_path %> </li>
            </ul>
          </li>
          <%end%>


          <!-- options for families -->
          <% if current_user && current_user.role?(:admin) %>
          <li class ="has-dropdown">
            <%= link_to "Families", families_path %>
            <ul class = "dropdown">
              <li><%= link_to "List Families", families_path %> </li>
              <li><%= link_to "Add a family", new_family_path %></li>
            </ul>
          </li>
          <%end%>

          <!-- options for students -->
          <% if current_user && current_user.role?(:admin) %>
          <li class ="has-dropdown">
            <%= link_to "Students", students_path %>
            <ul class = "dropdown">
              <li><%= link_to "List Students", students_path %> </li>
              <li><%=link_to "Add a Student", new_student_path %></li>
            </ul>
          </li>
          <%end%>


        </ul>
      </section>

    </nav>
  </div>